# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/

# Virtual environments
venv/
env/

# Data and model outputs
data/
*.csv
*.npz
*.npy
*.jpg
*.jpeg
*.png

# VS Code settings
.vscode/

# Node / frontend
frontend/node_modules/
frontend/dist/

# Editor / OS
.vscode/
.idea/
.DS_Store